# local package
-e .

# external requirements
click            # If you're using CLI features that require click, keep this.
Sphinx           # Keep if you are generating documentation with Sphinx.
coverage         # Useful for test coverage reporting.
awscli           # Necessary if interacting with AWS services.
flake8           # Python linting tool, good for maintaining code quality.
python-dotenv>=0.5.1  # Loads environment variables from a .env file.
spotipy          # Needed for Spotify API interactions.
scikit-learn     # For machine learning operations, used in your cosine similarity.
streamlit        # For creating the web app.
tqdm             # For progress bars in loops.
